.banner {
  width: 100vw;
  position: relative;
  height: auto;
  content-visibility: auto;
  contain-intrinsic-size: auto 700px;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}
