@font-face {
  font-family: "Migra";
  src: url(../font/Migra-Extralight.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Migra";
  src: url(../font/Migra-Extrabold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Migra";
  src: url(../font/MigraItalic-ExtralightItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Migra";
  src: url(../font/MigraItalic-ExtraboldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}
